# ----------------------------------------------------------------------------
# ContikiPy
# ----------------------------------------------------------------------------
contiki: /home/mike/Repos/atomic
wd:      /home/mike/Repos/atomic/examples/atomic
fmt:     cooja
log:     /tools/cooja/build/COOJA.testlog
out:     /home/mike/Results/ATOMIC
csc:     atomic-30-node.csc
target:  sky

# ----------------------------------------------------------------------------
# Results Options
# packet regex ... https://regex101.com/r/26KZoD/15/
# ----------------------------------------------------------------------------
logtypes:
  cooja: '^\s*(?P<time>\d+):\s+(?P<node>\d+):'

formatters:
  patterns:
    # atomic
    - type:  atomic-energy
      regex: \s+(?P<level>[\w,-]+):\s+(?P<module>\w+)\s*ep:(?P<epoch>\d+)\s+(?P<type>\w+)(?:\s*h:(?P<hops>\d+)|\s+np:(?P<n_phases>\d+)|\s+gon:(?P<gon>\d+)|\s+ron:(?P<ron>\d+)|\s+con:(?P<con>\d+)\s+\(r (?P<all_rdc>\d+\W{1,2}\d+)| \/ (?P<rdc>\d+\W{1,2}\d+))+.*?$
    - type:  atomic-op
      regex: \s+(?P<level>[\w,-]+):\s+(?P<module>\w+)\s*ep:(?P<epoch>\d+)\s+(?P<type>\w+)(?:\s*h:(?P<hops>\d+)|\scp:\s*(?P<c_phase>\d+)|\s+tp:\s*(?P<n_phases>\d+)|\s+dur:\s*(?P<lat>\d+)|\s+tdur:\s*(?P<op_duration>\d+)|\s+an:(?P<active>\d+))+.*?$
  process:
    # atomic
    atomic-op:
      - filter:
          col:      active
          min:      1
          max:      1
      # - filter:
      #     col:      hops
      #     min:      1
      #     max:      5
    # atomic-energy:
    #   - filter:
    #       col:      hops
    #       min:      1
    #       max:      5
# ----------------------------------------------------------------------------
# Simulations
# ----------------------------------------------------------------------------
simulations:
  # 30 Node
  - desc:     '30 Node'
    type:     atomic
    contiki:  /home/mike/Repos/atomic
    wd:       /home/mike/Repos/atomic/examples/atomic
    csc:      atomic-30-node.csc
    log:      Atomic-SDN-30
    makeargs:
      ATM_CONF_MAX_NODES:         30
      ATM_CONF_COLLECT_ALL_NODES: 1
      ATM_CONF_REACT_ALL_NODES:   1
      ATM_CONF_OP_FREQ:           60
      ATM_CONF_COLLECT_FREQ:      0
      ATM_CONF_REACT_FREQ:        0
      ATM_CONF_CONFIGURE_FREQ:    0
      ATM_CONF_LOG_NONE:          0
    regex:
      - 'atomic-energy'
      - 'atomic-op'
    plot:
      atomic_op_times:
        df:      atomic-op
        packets: ['CONF', 'CLCT', 'RACT']
        file:    'atomic_op_times'
      energy_v_hops:
        df:      atomic-energy
        packets: ['CLCT', 'RACT', 'CONF', 'ASSC']
        file:    'energy_v_hops'
      pdr_v_hops:
        df:      atomic-op
        packets: ['CLCT', 'RACT', 'CONF', 'ASSC']
        file:    'pdr_v_hops'
      association_v_time:
        df:      atomic-op
        packets: ['ASSC']
        file:    'association_v_time'
  # 40 Node
  - desc:     '40 Node'
    type:     atomic
    contiki:  /home/mike/Repos/atomic
    wd:       /home/mike/Repos/atomic/examples/atomic
    csc:      atomic-40-node.csc
    log:      Atomic-SDN-40
    makeargs:
      ATM_CONF_MAX_NODES:         40
      ATM_CONF_COLLECT_ALL_NODES: 1
      ATM_CONF_REACT_ALL_NODES:   1
      ATM_CONF_OP_FREQ:           60
      ATM_CONF_COLLECT_FREQ:      0
      ATM_CONF_REACT_FREQ:        0
      ATM_CONF_CONFIGURE_FREQ:    0
      ATM_CONF_LOG_NONE:          0
    regex:
      - 'atomic-energy'
      - 'atomic-op'
    plot:
      atomic_op_times:
        df:      atomic-op
        packets: ['CONF', 'CLCT', 'RACT']
        file:    'atomic_op_times'
      energy_v_hops:
        df:      atomic-energy
        packets: ['CLCT', 'RACT', 'CONF', 'ASSC']
        file:    'energy_v_hops'
      pdr_v_hops:
        df:      atomic-op
        packets: ['CLCT', 'RACT', 'CONF', 'ASSC']
        file:    'pdr_v_hops'
      association_v_time:
        df:      atomic-op
        packets: ['ASSC']
        file:    'association_v_time'
  # 50 Node
  - desc:     '50 Node'
    type:     atomic
    contiki:  /home/mike/Repos/atomic
    wd:       /home/mike/Repos/atomic/examples/atomic
    csc:      atomic-50-node.csc
    log:      Atomic-SDN-50
    makeargs:
      ATM_CONF_MAX_NODES:         50
      ATM_CONF_COLLECT_ALL_NODES: 1
      ATM_CONF_REACT_ALL_NODES:   1
      ATM_CONF_OP_FREQ:           60
      ATM_CONF_COLLECT_FREQ:      0
      ATM_CONF_REACT_FREQ:        0
      ATM_CONF_CONFIGURE_FREQ:    0
      ATM_CONF_LOG_NONE:          0
    regex:
      - 'atomic-energy'
      - 'atomic-op'
    plot:
      atomic_op_times:
        df:      atomic-op
        packets: ['CONF', 'CLCT', 'RACT']
        file:    'atomic_op_times'
      energy_v_hops:
        df:      atomic-energy
        packets: ['CLCT', 'RACT', 'CONF', 'ASSC']
        file:    'energy_v_hops'
      pdr_v_hops:
        df:      atomic-op
        packets: ['CLCT', 'RACT', 'CONF', 'ASSC']
        file:    'pdr_v_hops'
      association_v_time:
        df:      atomic-op
        packets: ['ASSC']
        file:    'association_v_time'
  # 60 Node
  - desc:     '60 Node'
    type:     atomic
    contiki:  /home/mike/Repos/atomic
    wd:       /home/mike/Repos/atomic/examples/atomic
    csc:      atomic-60-node.csc
    log:      Atomic-SDN-60
    makeargs:
      ATM_CONF_MAX_NODES:         60
      ATM_CONF_COLLECT_ALL_NODES: 1
      ATM_CONF_REACT_ALL_NODES:   1
      ATM_CONF_OP_FREQ:           60
      ATM_CONF_COLLECT_FREQ:      0
      ATM_CONF_REACT_FREQ:        0
      ATM_CONF_CONFIGURE_FREQ:    0
      ATM_CONF_LOG_NONE:          0
    regex:
      - 'atomic-energy'
      - 'atomic-op'
    plot:
      atomic_op_times:
        df:      atomic-op
        packets: ['CONF', 'CLCT', 'RACT']
        file:    'atomic_op_times'
      energy_v_hops:
        df:      atomic-energy
        packets: ['CLCT', 'RACT', 'CONF', 'ASSC']
        file:    'energy_v_hops'
      pdr_v_hops:
        df:      atomic-op
        packets: ['CLCT', 'RACT', 'CONF', 'ASSC']
        file:    'pdr_v_hops'
      association_v_time:
        df:      atomic-op
        packets: ['ASSC']
        file:    'association_v_time'
  # 70 Node
  - desc:     '70 Node'
    type:     atomic
    contiki:  /home/mike/Repos/atomic
    wd:       /home/mike/Repos/atomic/examples/atomic
    csc:      atomic-70-node.csc
    log:      Atomic-SDN-70
    makeargs:
      ATM_CONF_MAX_NODES:         70
      ATM_CONF_COLLECT_ALL_NODES: 1
      ATM_CONF_REACT_ALL_NODES:   1
      ATM_CONF_OP_FREQ:           60
      ATM_CONF_COLLECT_FREQ:      0
      ATM_CONF_REACT_FREQ:        0
      ATM_CONF_CONFIGURE_FREQ:    0
      ATM_CONF_LOG_NONE:          0
    regex:
      - 'atomic-energy'
      - 'atomic-op'
    plot:
      atomic_op_times:
        df:      atomic-op
        packets: ['CONF', 'CLCT', 'RACT']
        file:    'atomic_op_times'
      energy_v_hops:
        df:      atomic-energy
        packets: ['CLCT', 'RACT', 'CONF', 'ASSC']
        file:    'energy_v_hops'
      pdr_v_hops:
        df:      atomic-op
        packets: ['CLCT', 'RACT', 'CONF', 'ASSC']
        file:    'pdr_v_hops'
      association_v_time:
        df:      atomic-op
        packets: ['ASSC']
        file:    'association_v_time'
# ----------------------------------------------------------------------------
# compare (comparison) config
# ----------------------------------------------------------------------------
compare:
  - sims:
    # which sims do we want to compare?
    - '30 Node'
    - '40 Node'
    - '50 Node'
    - '60 Node'
    - '70 Node'
    # which plots do we want to compare?
    plots:
      - energy_v_hops
      - atomic_op_times
      - pdr_v_hops
      - association_v_time
    args:
      samefigure: 0
      # N.B. If you are going to put these on the same fig then be careful
      # with rows and cols, as there isn't much input checking!!!
      nrows:      2
      ncols:      1
      atomic_op_times:
        row: 0
        col: 0
        legend: 'upper left' #(0.35, 1.05)  # location, None, or Tuple
